[user]
    name = Diogo Leal
    email = diogo@diogoleal.com
    signingkey = 4D7CF362

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[core]
    editor = vim
    pager = less -FXRS

[merge]
    tool = vimdiff
[push]
	default = simple
