
! URxvt*font: -misc-fixed-medium-r-semicondensed-*-12-90-100-*-c-60-iso8859-1
URxvt.font: 9x15bold
Xft*dpi:       96
Xft*antialias: True
Xft*hinting:   Full
URxvt*depth: 32
URxvt*foreground: green
URxvt*scrollBar: off
URxvt*.transparent: true
URxvt*.shading: 65

