!#URxvt*background: [100]#3b3b4b
!#URxvt*background: #3b3b3b
!#URxvt*foreground: #cce8d4

!URxvt*background: #1b1b1b
!URxvt*foreground: #A0A0A0

*.foreground: #BCBCBC
*.background: #262626
*.color0:     #1C1C1C
*.color8:     #444444
*.color1:     #AF5F5F
*.color9:     #FF8700
*.color2:     #5F875F
*.color10:    #87AF87
*.color3:     #87875F
*.color11:    #FFFFAF
*.color4:     #5F87AF
*.color12:    #8FAFD7
*.color5:     #5F5F87
*.color13:    #8787AF
*.color6:     #5F8787
*.color14:    #5FAFAF
*.color7:     #6C6C6C
*.color15:    #FFFFFF


URxvt*transparent: true
URxvt*.shading: 20
URxvt*.depth: 32

URxvt*scrollBar: false
URxvt*scrollstyle: plain
URxvt*scrollBar_right: true
URxvt*scrollBar_floating: true
URxvt*scrollColor: #CCE8D4
URxvt*.thickness: 0.1

URxvt*iso14755: false

URxvt.perl-ext: default,url-select
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob
URxvt.url-select.underline: true
URxvt.url-launcher: qutebrowser

URxvt.font: xft:Hack:style=Regular:size=10, -*-Symbola-*-*-*-*-*-*-*-*-*-*-*-*

!URxvt*letterSpace: 0
!URxvt*internalBorder: 10
!URxvt*color0: #33313c
!URxvt*color1: #354169
!URxvt*color2: #4c596c
!URxvt*color3: #5d6383
URxvt*color4: #6f838e
URxvt*color5: #83989b
URxvt*color6: #7b7277
URxvt*color7: #a3a0a7
URxvt*color8: #6fa6ab
URxvt*color9: #a8bac4
URxvt*color10: #606e5f
URxvt*color11: #808452
URxvt*color12: #b7a462
URxvt*color13: #5a5349
URxvt*color14: #8bb5b4
URxvt*color15: #d2c173

!rofi.terminal:	urxvt
!rofi.lines:	10
!rofi.eh:	2
!rofi.width:	100
!rofi.padding:	800
!rofi.opacity:	95
!rofi.bw:	0
!rofi.bc:	#032c36
